@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Julee&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline:  none;
    font-family: 'Arimo', sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    --dark: #111;
    --black: #000;
    --grey-1: #eee;
    --grey-2: #ccc;
    --grey-3: #aaa;
    --grey-4: #888;
    --grey-5: #555;
    --grey-6: #333;
    --gold: #ffd700;
    --primary: #ff4500;
    --bord-rad: 0.3rem;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
}

.rectangle {
    width: 70rem;
    height: 40rem;
    border: 0.1rem solid var(--grey-6);
    position: fixed;
}

.rectangle-1 {
    top: 48%;
    left: 21%;
    transform: rotateZ(20deg);
}

.rectangle-2 {
    top: -8%;
    right: -10%;
    transform: rotateZ(60deg);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
}

.programmer {
    position: absolute;
    top: 2rem;
    left: 30rem;
    display: flex;
    align-items: center;
}

.programmer div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 2rem;
}

.programmer img {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.1rem solid var(--grey-6);
}

.programmer div span:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 200;
    color: var(--primary);
    letter-spacing: 0.2rem;
}

.programmer div span:nth-child(2) {
    font-size: 1.4rem;
    font-weight: 100;
    color: var(--grey-2);
    letter-spacing: 0.2rem;
}

.menu-icon {
    position: absolute;
    top: 3rem;
    right: 30rem;
    width: 5rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: transform 0.3s;
}

.menu-icon:hover {
    transform: scaleY(1.4);
}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: var(--primary);
}

.navigation {
    display: none;
}

